img{
  height: 200px;
  width: 400px;
}
body{
  font-family: Verdana;
}
.cont{
  padding: 3%;
}
.titulo{
  font-size: 18px;
  background-image: linear-gradient(green, aqua);
  border-radius: 5px;
  border: 2px solid black;
  text-align: center;
}
.descripcion{
  padding: 10%;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(#005662, #0077c2);
  color: white;
  height: 295px;
}
.clearfix{
  
}
